.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
.alert-success {
  margin: auto;
  width: 30vw;
  padding: 20px;
  background-color: #22ee62;
  color: rgb(0, 0, 0);
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }