@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    margin-top: 11%;
    left: 25%;
    align-items: center;
    justify-content: center;
    /* background-color: #f9f9f9; */
}

.cardStyle {
    width: 700px;
    border-color: white;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
    height: 500px;
}

.formTitle{
  font-weight: 600;
  font-size: 37px;
  margin-top: 10px;
  color: white;
  text-align: center;
  background-color: #123456;
}

.inputLabel {
  padding: 50px;
  padding-inline: 100px;
}

.inputDiv1 {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
}

.inputDiv2 {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
}

.inputDiv3 {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
}

input {
  height: 50px;
  font-size: 16px;
  border-radius: 1px;
  border: none;
  border: solid 2px #123456;
  padding: 0 17px;
  display: flex;
  align-items: center;
}

input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}

.buttonWrapper {
  margin-top: 40px;
}

.submitButton {
    width: 45%;
    margin: auto;
    display: block;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    font-size: 16px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #123456;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.submitButton:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}
